.wrapper {
  position: relative;
}

.left-bottom-box {
  //position: absolute;
  margin-top: 3%;
  margin-left: 5%;
  z-index: 2;
}

@media screen and (max-width: 832px) {
  .left-bottom-box {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 24px;
    margin-left: 2%;
    transform: scale(0.9);
  }
}

.box-with-animation {
  box-sizing: border-box;
  border-radius: 10px;
}

.about-item {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 26px;
}

