.box {
  padding: 0;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (max-width: 960px) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @media screen and (max-width: 550px) {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.expand-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 2px);
  height: calc(100vh + 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
}