.left-top-box {
  position: absolute;
  top: 25%;
  left: 5%;
  z-index: 2;
}

.box-with-animation {
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 300px;
  height: 250px;
  padding: 1rem;
  transform: perspective(30em) rotateX(-5deg) rotateY(15deg);
}